{% macro bugs_table(bugs, mention_arches=False, skip_badges='') -%}
<div class="table-responsive">
	<table class="table table-sm table-hover">
		<thead>
			<tr>
				<th scope="col" style="width: 6ch">ID</th>
				<th scope="col">Summary</th>
				<th scope="col" style="width: 25ch">Assignee</th>
				<th scope="col" style="width: 20ch">Reporter</th>
				<th scope="col" style="width: 10ch">Opened</th>
				<th scope="col" style="width: 10ch">Changed</th>
			</tr>
		</thead>
		<tbody>
			{% for bug in bugs %}
				<tr>
					<td><a href="https://bugs.gentoo.org/{{ bug['id'] }}">{{ bug['id'] }}</a></td>
					<td>
						{{ bug['summary'] }}
						{% if 'SECURITY' in bug['keywords'] and 'S' not in skip_badges %}
							<span class="badge text-bg-danger" data-bs-toggle="tooltip" data-bs-title="Security">S</span>
						{% endif %}
						{% if 'ALLARCHES' in bug['keywords'] and 'A' not in skip_badges %}
							<span class="badge text-bg-info" data-bs-toggle="tooltip" data-bs-title="ALLARCHES">A</span>
						{% endif %}
						{% if bug['depends_on'].intersection(b.dependencies.keys()) and 'B' not in skip_badges %}
							<span class="badge text-bg-warning" data-bs-toggle="tooltip" data-bs-title="Blocked">B</span>
						{% elif bug['last_change_time'] < b.inactive_date and 'I' not in skip_badges %}
							<span class="badge text-bg-secondary" data-bs-toggle="tooltip" data-bs-title="Inactive">I</span>
						{% endif %}
						{% if bug['cf_runtime_testing_required'] == 'Manual' and 'M' not in skip_badges %}
							<span class="badge text-bg-secondary" data-bs-toggle="tooltip" data-bs-title="Manual Testing">M</span>
						{% endif %}
						{% if mention_arches and bug['arches'] %}
							<br />
							<span>
								{% for arch in bug['arches'] %}
									<span class="badge text-bg-secondary">{{ arch }}</span>
								{% endfor %}
							</span>
						{% endif %}
					</td>
					<td>
						{% if bug['assigned_to'].startswith('maintainer-needed') %}
							-
						{% else %}
							<a href="mailto:{{ bug['assigned_to'] }}">
								{{ bug['assigned_to_detail']['real_name'] or bug['assigned_to_detail']['name'] }}
							</a>
						{% endif %}
					</td>
					<td>
						<a href="mailto:{{ bug['creator'] }}">
							{{ bug['creator_detail']['real_name'] or bug['creator_detail']['name'] }}
						</a>
					</td>
					<td>{{ bug['creation_time'].strftime('%Y-%m-%d') }}</td>
					<td>{{ bug['last_change_time'].strftime('%Y-%m-%d') }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{%- endmacro %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
		<style>
			table.table-fit {
				width: auto !important;
				table-layout: auto !important;
			}
			table.table-fit thead th, table.table-fit tfoot th {
				width: auto !important;
			}
			table.table-fit tbody td, table.table-fit tfoot td {
				width: auto !important;
			}
		</style>
		<title>Arch Testing Report</title>
	</head>
	<body data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
		<nav id="navbar" class="navbar sticky-top navbar-expand-lg bg-light">
			<div class="container-fluid">
				<a class="navbar-brand">Arch Testing Report</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_content" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbar_content">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-tabs">
						<li class="nav-item">
							<a class="nav-link" href="#stats">Statistics</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Last Arches
							</a>
							<ul class="dropdown-menu">
								{% for arch, bugs in b.last_arch.items() %}
									{% if bugs|length %}
										<li>
											<a class="dropdown-item" href="#last_arch_{{ arch }}">
												{{ arch }} ({{ bugs|length }} bugs)
											</a>
										</li>
									{% endif %}
								{% endfor %}
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#security_bugs">Security Bugs</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#inactive_bugs">Inactive Bugs</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#devboxes_bugs">Devboxes</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#missing_cc">Missing CC-ARCHES</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#bad_sanity_bugs">Bad sanity-check</a>
						</li>
					</ul>
				</div>
				<div>
					Generated at {{ now.strftime('%Y-%m-%d %H:%M:%S') }} UTC
				</div>
			</div>
		</nav>

		<div id="stats" class="container">
			<h2>Statistics</h2>
			<div class="card mb-3" style="width: fit-content;">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-hover table-fit">
							<thead>
								<tr>
									<th scope="col">Arch</th>
									<th scope="col">Total</th>
									<th scope="col">Stablereqs</th>
									<th scope="col">Keywording</th>
									<th scope="col">Blocked</th>
								</tr>
							</thead>
							<tbody>
								{% for arch, stats in b.arch_stats.items() %}
									<tr>
										<td>
											<a href="https://bugs.gentoo.org/buglist.cgi?component=Keywording&component=Stabilization&component=Vulnerabilities&email1={{ arch }}%40gentoo.org&emailassigned_to1=1&emailcc1=1&emailtype1=substring&f1=flagtypes.name&query_format=advanced&resolution=---&o1=equals&v1=sanity-check%2B">
												{{ arch }}
											</a>
										</td>
										{% for stat in stats %}
											<td>{{ stat }}</td>
										{% endfor %}
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<h2>Last Arches</h2>
			<p>
				For every arch, list all bugs for which the arch is the last one not done. Those bugs should be prioritized for testing.
			</p>
			{% for arch, bugs in b.last_arch.items() %}
				{% if bugs|length %}
					<div class="card mb-3" id="last_arch_{{ arch }}">
						<div class="card-header">{{ arch }} ({{ bugs|length }} bugs)</div>
						<div class="card-body">
							{{ bugs_table(bugs) }}
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div id="security_bugs" class="container">
			<h2>Security Bugs ({{ b.security_bugs|length }} bugs)</h2>
			<p>
				Security bugs are bugs with the keyword SECURITY.
			</p>
			<div class="card mb-3">
				<div class="card-body">
					{{ bugs_table(b.security_bugs, mention_arches=True, skip_badges='S') }}
				</div>
			</div>
		</div>
		<div id="inactive_bugs" class="container">
			<h2>Inactive Bugs ({{ b.inactive_bugs|length }} bugs)</h2>
			<p>
				Bugs with no activity for {{ b.inactive_threshold }} days, and aren't blocked by unresolved bugs.
			</p>
			<div class="card mb-3">
				<div class="card-body">
					{{ bugs_table(b.inactive_bugs, mention_arches=True, skip_badges='I') }}
				</div>
			</div>
		</div>
		<div id="devboxes_bugs" class="container">
			<h2>Bugs for dev boxes ({{ b.for_devboxes|length }} bugs)</h2>
			<p>Bugs for arches we have a devbox accessible to Gentoo devs.</p>
			<div class="card mb-3">
				<div class="card-body">
					{{ bugs_table(b.for_devboxes, mention_arches=True) }}
				</div>
			</div>
		</div>
		<div id="missing_cc" class="container">
			<h2>Missing CC-ARCHES ({{ b.waiting_maintainers|length }} bugs)</h2>
			<p>
				Bugs waiting for maintainer approval (by adding CC-ARCHES) before they can progress.
			</p>
			<div class="card mb-3">
				<div class="card-body">
					{{ bugs_table(b.waiting_maintainers, skip_badges='M') }}
				</div>
			</div>
		</div>
		<div id="bad_sanity_bugs" class="container">
			<h2>Bad sanity-check bugs ({{ b.bad_sanity|length }} bugs)</h2>
			<p>
				Bugs with bad sanity-check marked by nattka. For those, the package-list should be fixed.
			</p>
			<div class="card mb-3">
				<div class="card-body">
					{{ bugs_table(b.bad_sanity, mention_arches=True, skip_badges='IB') }}
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
		<script>
			const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
			const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
		</script>
	</body>
</html>
